<div class="main">
    <section class="section1">
        <h1>THE WIND IS <br> NOT EVEN CLOSE TO US</h1>
        <!-- <p>We are dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p> -->


    </section>
    <section>
        <app-search></app-search>
    </section>
    <footer class="footer">
      <div>
        <h2 style="color: red;">SUBSCRIBE TO OUR NEWSLETTER FEED</h2>
        <p style="color: white; margin: 0;"> Simply Dummy Text of the Printin Galley of Type and Bled it to Make a Type</p>
      </div>
      <div>
        <input type="text" placeholder="Enter Your Email" style="height: 30px; width: 380px; padding: 20px;" >
        <button style="height: 44px; margin: 0;">SUBSCRIBE</button>
      </div>

    </footer>
</div>
